<div class="container py-3">
  <div class="row">
    <div class="col">
      <% if single %>
        <h2><%= title_single %></h2>
      <% else %>
        <h2><%= title_plural %></h2>
      <% end %>
    </div>

    <div class="col">
      <%= form_with(url: search_path, method: :get, local: true, class: "row") do %>
        <div class="col-8">
          <%= text_field_tag(:keywords, nil, placeholder: placeholder, class: "w-100") %>
        </div>
        <div class="col-4">
          <%= submit_tag("Search - Chercher") %>
        </div>
      <% end %>
    </div>
  </div>
</div>