<%= render partial: "shared/header" %>
<h2>Ranks - Grades</h2>
<% @ranks.each do |rank| %>
  <div class="rank">
    <h3><%= link_to rank.rank_el, rank %></h3>
    <h3><%= link_to rank.rank_fr, rank %></h3>
    <p>
      <strong>Rank Category: </strong>
      <%= rank.rank_category.category_el %>
    </p>
    <p>
      <strong>Catégorie de Classement: </strong>
      <%= rank.rank_category.category_fr %>
    </p>
    <p>
      <strong>Environment: </strong>
      <%= rank.environment.environment_el %>
    </p>
    <p>
      <strong>Environnement: </strong>
      <%= rank.environment.environment_fr %>
    </p>
  </div>
<% end %>