<%= render partial: "header",  locals: {single: @ranks.count == 1} %>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Searching for: <%= params[:keywords] %></h3>
      <h3>Found: <%= pluralize(@ranks.count, "Rank") %></h3>
    </div>
    <div class="col-6 text-right">
      <h3>À la recherche de: <%= params[:keywords] %></h3>
      <h3>A trouvé: <%= pluralize(@ranks.count, "Rank") %></h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row card-group">
    <%= render partial: "rank", collection: @ranks,  locals: {rank_link: true, environment_link: true, category_link: true} %>
  </div>
</div>
