<%= render partial: "shared/header" %>
<h2>Operations - Opérations</h2>
<% @operations.each do |operation| %>
  <div>
    <h3>Operation Name (OP): <%= link_to operation.op_name_el, operation %></h3>
    <h3>Nom de l'opération (OP): <%= link_to operation.op_name_fr, operation %></h3>
    <p>
      <strong>Location: </strong>
      <%= operation.location.name_el %>
    </p>
    <p>
      <strong>Emplacement: </strong>
      <%= operation.location.name_fr %>
    </p>
    <p>
      <strong>Start Date/Date de Début: </strong>
      <%= operation.start_date %>
    </p>
    <p>
      <strong>End Date/Date de Fin: </strong>
      <%= operation.end_date %>
    </p>
  </div>
<% end %>
